<section class="page">

  <div class="page__content">
    <h1 class="page__title">{{t 'about.title'}}</h1>
    {{t 'about.text_1'}}

    <h2 class="page__subtitle">{{t 'about.tech_background_title'}}</h2>

    {{t 'about.text_2'}}

    <h3 class="page__subtitle">Front-End</h3>

    {{t 'about.frontend'}}

    <h3 class=page__subtitle">Back-End</h3>

    {{t 'about.backend'}}

    <h2 class="page__subtitle">This Website</h2>

    {{t 'about.website'}}

    <h2 class="page__subtitle">{{t 'about.education_title'}}</h2>

    {{t 'about.education'}}

    <!--
    <div class="about__ame__col"> </div>
    <div class="ribbon__title">
      <h4 class="ribbon"> <span>coding skills</span> </h4>
    </div>
    <div class="ribbon__title">
      <h4 class="ribbon"> <span>design skills</span> </h4>
    </div>
    <div class="ribbon__title">
      <h4 class="ribbon"> <span>devops skills</span> </h4>
    </div>
    <div class="about__ame__content">
      <ul class="timeline">
        <li class="timeline__link"></li>
        <li class="timeline__link"></li>
        <li class="timeline__link"></li>
        <li class="timeline__link"></li>
      </ul>
    </div>
    -->
  </div><!-- about__content -->
</section>
