<section class="page">
  <div class="page__content">
    <h1 class="page__title">My work</h1>
    {{t 'work.text_1'}} 
    <h2 class="page__title">{{t 'work.consulting_title'}}</h2>
    {{t 'work.text_2'}} 
    <h2 class="page__title">{{t 'work.monappliphoto_title'}}</h2>
    {{t 'work.text_3'}} 
    <h2 class="page__title">{{t 'work.before_title'}}</h2>
    {{t 'work.text_4'}} 
  </div>
</section>
